# macOS 관련
.DS_Store

# Xcode user data
ios-app.xcodeproj/project.xcworkspace/xcuserdata/
ios-app.xcodeproj/xcuserdata/
*.xcuserstate

# 빌드/파생 데이터
build/
DerivedData/

# 기타 Xcode 임시 파일
*.moved-aside
*.xcuserdatad
*.xcworkspace
